p {
    margin-bottom: 5px;
}

#languageTitle, #socialsTitle {
	margin-top: 50px;
}

#mainTitle {
    color: #39adad;
    margin-top: 2%;
}

.languages {
	list-style: none;
}
  
body {
	background-color: #151515;
	color: white;
	min-width: 500px;
	min-height: 500px;
	text-align: center;
	align-items: center;
	place-items: center;
}

h1 {
	font-size: xx-large;
	color: #39adad;
	margin-bottom: 10px;
}